[Unit]
Description=Floucapt Picture Processing Application
After=

[Service]
Type=forking
User=floucapt
Group=floucapt
PIDFile=/tmp/floucapt.pid
ExecStart=/usr/bin/python2 -m floucapt start
ExecStop=/usr/bin/python2 -m floucapt stop
ExecReload=/usr/bin/python2 -m floucapt restart


[Install]
WantedBy=multi-user.target
